<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/submit">
        <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}"/>
        <input type="text" name="name" maxlength="100" required/>
        <input type="text" name="message" maxlength="400" required/>
        <input id="button" type="submit" value="Submit" tabindex="4" />
    </form>
</body>
</html>